.box {
  font-size: 15px;
  display: inline-block;
  border: solid 1px #454545;
  margin-top: 300px;
  }

  .header link {
    width: 100%;
    background-color: rgb(220, 220, 34);
    position: fixed;
  }

